@font-face {
  font-family: 'Repo';
  src: url(Assets/fonts/Repo.otf) format('truetype');
}

body {
  font-family: 'Repo', sans-serif;
  margin: 0%;
}
.title{
  font-family: 'Repo';
  margin-top: -70px;
  margin-left: -500px;
  padding-right: 200px;
}
.container{
  display: flex;
  gap: 0px;
  margin-top: 0px;
  padding-top: 50px;
}

.containerSegundario{
  display: flex;
  gap: 80px;
  margin-top: -50px;
  padding-top: 20px;
}

.content{
    display: block;
    height: 550px;
    width: 470px;
}

h1{
  color: #0C3E5B;
  margin-top: 100px;
  margin-left: 60px;
  font-size: 50px;
  margin-bottom: 0px;
  font-weight: bold;
}



.points-image {
  position: fixed; /* Fija la posición de la imagen */
  bottom: 0; /* La posiciona en la parte inferior */
  left: 0; /* La posiciona en el lado izquierdo */
  width: 150px; /* Ajusta el ancho de la imagen según sea necesario */
  height: 150px; /* Ajusta la altura de la imagen según sea necesario */
  margin: 20px; /* Ajusta el margen según sea necesario */
  z-index: 999; /* Asegura que la imagen esté por encima de otros elementos */
}

.points-imageSC{
  bottom:500; /* La posiciona en la parte inferior */
  left: -5000; /* La posiciona en el lado izquierdo */
  width: 150px; /* Ajusta el ancho de la imagen según sea necesario */
  height: 150px; /* Ajusta la altura de la imagen según sea necesario */
  margin: 20px; /* Ajusta el margen según sea necesario */
  z-index: 999; /* Asegura que la imagen esté por encima de otros elementos */
}


.corner{
  display: flex;
  justify-content: flex-end;
  vertical-align: bottom;
}
.corner-image{
  width: 800px;
  position: fixed;
  bottom: 0; /* Colocar en la parte inferior */
  right: 0; /* Colocar en el lado derecho */
  margin: 0; /* Eliminar márgenes */
  padding: 0; /* Eliminar relleno */
}

.btn-53,
.btn-53 *,
.btn-53 :after,
.btn-53 :before,
.btn-53:after,
.btn-53:before {
border: 0 solid;
box-sizing: border-box;
}

.btn-53 {
-webkit-tap-highlight-color: transparent;
-webkit-appearance: button;
background-color: #0C3E5B;
background-image: none;
color: #fff;
cursor: pointer;
font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
  Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
  Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
font-size: 70%;
line-height: 1.5px;
margin: 0;
-webkit-mask-image: -webkit-radial-gradient(#000, #fff); 
width: 120px;
height: 50px;
padding: 0%;
margin: 0;
}

.btn-53:disabled {
cursor: default;
}

.btn-53:-moz-focusring {
outline: auto;
}

.btn-53 svg {
display: block;
vertical-align: middle;
}

.btn-53 [hidden] {
display: none;
}


.btn-53 {
border: 1px solid;
border-radius: 999px;
box-sizing: border-box;
display: block;
font-weight: 600;
overflow: hidden;
padding:20px;
position: relative;
text-transform: uppercase;

}

.btn-53 .original {
background: #2aa2b8;
color: #fff;
display: grid;
inset: 0;
place-content: center;
position: absolute;
transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1);
}

.btn-53:hover .original {
transform: translateY(100%);
}

.btn-53 .letters {
display: inline-flex;
}

.btn-53 span {
opacity: 0;
transform: translateY(-15px);
transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1), opacity 0.2s;
}

.btn-53 span:nth-child(2n) {
transform: translateY(15px);
}

.btn-53:hover span {
opacity: 1;
transform: translateY(0);
}

.btn-53:hover span:nth-child(2) {
transition-delay: 0.1s;
}

.btn-53:hover span:nth-child(3) {
transition-delay: 0.2s;
}

.btn-53:hover span:nth-child(4) {
transition-delay: 0.3s;
}

.btn-53:hover span:nth-child(5) {
transition-delay: 0.4s;
}

.btn-53:hover span:nth-child(6) {
transition-delay: 0.5s;
}

.btn-53 {
   
    top: -290px; /* Ajusta la distancia desde la parte superior de la ventana */
    left: -1215px; /* Ajusta la distancia desde el borde izquierdo de la ventana */
    margin: 0; /* Elimina cualquier margen existente */
  }


.botonback{
  text-align: center;
}

  .contentSC{
    display: auto;
    margin: -80px 50px;
    right: 10px;
    text-align: justify;
    z-index: 9999; /*se usa para asegurarse que este por encima de otros elementos*/
  }

h3{
  color: #0C3E5B;
}

  .imagenSC{
    height: 300px; /* Establece la altura de la imagen en 150px */
    position: relative; /* Posiciona la imagen de forma absoluta */
    left: 50%; /* La mueve hacia la mitad del contenedor horizontalmente */
    transform: translateX(-50%); /* Centra la imagen respecto a su propio tamaño */
    top: 50px /* Desplaza la imagen hacia abajo 50px desde la parte superior */
  }

.contentAC{
  display: auto;
  margin: 50px 50px;
  right: 10px;
  text-align: justify;
  z-index: 9999; /*se usa para asegurarse que este por encima de otros elementos*/
}

.imagenAC{
  height: 300px; /* Establece la altura de la imagen en 150px */
  position: relative; /* Posiciona la imagen de forma absoluta */
  left: 70%; /* La mueve hacia la mitad del contenedor horizontalmente */
  transform: translateX(-50%); /* Centra la imagen respecto a su propio tamaño */
  top: 200px /* Desplaza la imagen hacia abajo 50px desde la parte superior */
}

.contentEc {
  text-align: justify;
  margin: 20px;
  padding: 20px;
}

.costos {
  display: block;
  margin-left: 100px;
}


body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.grid-container {
  width: 650px;
  height: 580px;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Define 3 columns with equal width */
  gap: 10px; /* Add spacing between grid items */
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: -50PX;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  color: #000;
  font-size: 25px;
  font-weight:600;
}

.grid-item {
  font-family: Repo;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: color 0.3s ease; /* Transición suave solo para el color */
  position: relative;
  height: 140px;
}
.grid-item:hover {
  transform: translateY(-5px); /* Desplazar hacia arriba al pasar el cursor */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Aumentar sombra en hover */
  color: #000000; /* Cambiar color del texto al pasar el cursor */
  background-color: #64cdd19a; /* Cambiar color de fondo al pasar el cursor */
}
a {
  text-decoration: none;
  
}
a:link{
  color: #1e1e1e;
}
a:visited{
  color: #232222;
}
.grid-heart{
  margin-bottom: 0px;
  width: 80px;
  height: auto;
}
.grid-tools-icon{
  margin-bottom: 0px;
  width: 50px;
  height: auto;
  margin-top: 15px;
}
.grid-resourses{
  margin-bottom: 0px;
  width: 70px;
  height: auto;
}
.grid-clients{
  margin-bottom: 0px;
  margin-top: 6px;
  width: 70px;
  height: auto;
}
.grid-box{
  margin-bottom: 0px;
  width: 85px;
  height: auto;
  margin-left: -10px;
}
.grid-truck{
  margin-bottom: 0px;
  width: 70px;
  height: auto;
  margin-top: 25px;
}
.grid-taxes{
  margin-bottom: 0px;
  width: 50px;
  height: auto;
  margin-top: 15px;
}
.grid-income{
  margin-bottom: 0px;
  width: 70px;
  height: auto;
}
.grid-hands{
  margin-bottom: 0px;
  width: 70px;
  height: auto;
}

.titleSC{
  margin-top: 500px;
  margin-left: -20px;
  padding-right: 0px;
}

.titleAC{
  margin-top: 90px;
  margin-left: -20px;
  padding-right: 0px;
}
.containerSegundarioAC{
  display: flex;
  gap: 150px;
  margin-top: -200px;
  padding-top: 20px;
}


.titleRC{
  margin-top: 400px;
margin-left: -20px;
padding-right: 0px;
}