<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fuentes de ingreso</title>
    <link rel="stylesheet" href="../style/styles.css" />
</head>
<body>
    <main>
        <div class="container">
            <div class="title-relaciones">
                <h1>ACTIVIDADES<br>CLAVE</h1>
                <img class="points-image" src="../Assets/images/points.jpg" alt="points">                
            </div>
            <div class="content">
                <div class="content-clave">
                    <h2>Actividades Clave</h2>
                
                    <h3>1. Desarrollo y Mantenimiento de la Aplicación</h3>
                    <ul>
                        <li>Diseño, desarrollo y mejora continua de la aplicación móvil y plataforma web.</li>
                        <li>Implementación de actualizaciones de seguridad y corrección de errores.</li>
                    </ul>
                
                    <h3>2. Gestión de Datos y Seguridad</h3>
                    <ul>
                        <li>Almacenamiento seguro y eficiente de datos de usuarios y mascotas perdidas/adopciones.</li>
                        <li>Implementación de medidas de protección de datos y privacidad.</li>
                    </ul>
                
                    <h3>3. Soporte y Atención al Cliente</h3>
                    <ul>
                        <li>Ofrecer soporte técnico y atención al cliente oportuna y efectiva.</li>
                        <li>Resolver problemas y consultas de manera rápida y satisfactoria.</li>
                    </ul>
                
                    <h3>4. Colaboración con Organizaciones de Rescate</h3>
                    <ul>
                        <li>Establecer y mantener relaciones con organizaciones de rescate animal para coordinar esfuerzos en la búsqueda y adopción de mascotas.</li>
                    </ul>
                
                    <h3>5. Promoción y Marketing</h3>
                    <ul>
                        <li>Desarrollar estrategias de marketing para aumentar la visibilidad y la base de usuarios de la aplicación.</li>
                        <li>Participar en eventos y campañas de concienciación sobre el bienestar animal.</li>
                    </ul>
                </div>
                
                
            </div>
        </div>
    </main>
    <div class="corner">
        <img class="corner-image" src="../Assets/images/item.png" alt="corner">
    </div>

</body>

</html>
