<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relaciones con el Cliente</title>
    <link rel="stylesheet" href="../style/styles.css" />
</head>
<body>
    <main>
        <div class="container">
            <div class="title">
                <h1>ASOCIACIONES<br>CLAVE</h1>
            </div>
            <div class="content">
                <p>

                </p>
            </div>
        </div>
        <div class="points">
            <img class="points-image" src="../Assets/images/points.jpg" alt="points">
        </div>
    </main>
    <div class="corner">
        <img class="corner-image" src="../Assets/images/item.png" alt="corner">
        <div class="botonBack">
            <button class="btn-53" onclick="window.location.href = '../index.html';">
                <div class="original">BACK</div>
                <div class="letters">
                    <span>I</span>
                    <span>N</span>
                    <span>I</span>
                    <span>C</span>
                    <span>I</span>
                    <span>O</span>
                </div>
            </button>
        </div>
    </div>

</body>
</html>
