<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estructura de Costos</title>
    <link rel="stylesheet" href="../style/styles.css" />
</head>
<body>
    <main>
        <div class="container">
            <div class="title">
                <h1>ESTRUCTURA<br>DE COSTOS</h1>
                <img class="points-image" src="../Assets/images/points.jpg" alt="points">              
            </div>
            <div class="contentEc">
                <h3>•	¿Cuáles son los costos fijos y variables asociados con su modelo de negocio?</h3>
                <p>Inicialmente los costos fijos serán principalmente los salarios que se le van a pagar al equipo de desarrollo el cual está conformado por:<br><br>Daniel Lozano<br>Daniel Ballesteros<br>José González<br><br>Adicional a esto se debe tener en cuenta el costo de energía e Internet para el desarrollo de la aplicación móvil.<br><br>Una ventaja de crear software es que no se necesita de materia prima para desarrollar un programa, debido a esto, los costos variables asociados a una empresa de desarrollo de software son mínimos en un principio, y dependerá del crecimiento y la escalabilidad de esta. Los costos variables entonces podrían ser pagos de licencias para diferentes servicios asociados a la creación del software, crecimiento en la infraestructura (servidores) etc.</p>
                <h3>¿Qué actividades o recursos representan los mayores gastos en su empresa?</h3>
                <p>Principalmente el desarrollo de la aplicación y la publicidad.</p>
                <h3>¿Existen áreas donde pueda reducir costos sin comprometer la calidad o el servicio?</h3>
                <p>En teoría inicialmente se debería realizar una gran inversión en publicidad, para que la aplicación tenga un mayor alcance e impacto y las personas la empiecen a utilizar, pero puede ser una actividad en la cual se puedan ir reduciendo costos con el transcurso del tiempo, dependiendo del nivel de popularidad que la aplicación vaya obteniendo.</p>
                <h3>Estructura de Costos Inicial Pet Connect</h3>                
                <img class="costos" src="../assets/images/costos.png" alt="">
            </div>
        </div>
    </main>
    <div class="corner">
        <img class="corner-image" src="../Assets/images/item.png" alt="corner">
        <div class="botonBack">
            <button class="btn-53" onclick="window.location.href = '../index.html';">
                <div class="original">BACK</div>
                <div class="letters">
                    <span>I</span>
                    <span>N</span>
                    <span>I</span>
                    <span>C</span>
                    <span>I</span>
                    <span>O</span>
                </div>
            </button>
        </div>
    </div>
</body>
</html>