<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fuentes de ingreso</title>
    <link rel="stylesheet" href="../style/styles.css" />
</head>
<body>
    <main>
        <div class="container">
            <div class="title-relaciones">
                <h1>FUENTES<br>DE INGRESO</h1>
                <img class="points-image" src="../Assets/images/points.jpg" alt="points">                
            </div>
            <div class="content">
                <div class="content-ingresos">
                    <h2>Fuente de Ingresos</h2>
                
                    <h3>1. Publicidad y Patrocinios</h3>
                    <ul>
                        <li>Ofrecer espacios publicitarios dentro de la aplicación para negocios relacionados con mascotas, como tiendas de mascotas o servicios veterinarios.</li>
                        <li>Establecer acuerdos de patrocinio con marcas interesadas en promover productos para mascotas.</li>
                    </ul>
                
                    <h3>2. Servicios Premium</h3>
                    <ul>
                        <li>Ofrecer una suscripción premium con funciones adicionales, como notificaciones avanzadas o acceso prioritario a la adopción de mascotas.</li>
                    </ul>
                
                    <h3>3. Comisiones por Adopción</h3>
                    <ul>
                        <li>Cobrar una pequeña comisión a las entidades o personas que publiquen mascotas en adopción a través de la aplicación.</li>
                    </ul>
                
                    <h3>4. Donaciones</h3>
                    <ul>
                        <li>Facilitar la recepción de donaciones de entidades y personas interesadas en apoyar la causa del bienestar animal a través de la aplicación.</li>
                    </ul>
                </div>
                
            </div>
        </div>
    </main>
    <div class="corner">
        <img class="corner-image" src="../Assets/images/item.png" alt="corner">
    </div>

</body>

</html>
