<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relaciones con el Cliente</title>
    <link rel="stylesheet" href="../style/styles.css" />
</head>
<body>
    <main>
        <div class="container">
            <div class="titleRC">
                <h1>RECURSOS<br>CLAVES</h1>
        <div class="containerSegundarioAC">
                <div>
                    <img class="imagenAC"  src="../assets/images/recursosClaveImg.jpg" alt="SC" >
                </div>
            
            <div class="contentAC"> 
                <h3>a.	Equipo de desarrollo de software:</h3>
                    <ul>
                         <li>
                              <p>Un equipo de desarrolladores con experiencia en el desarrollo de aplicaciones móviles, capaz de crear y mantener 
                             la aplicación en diferentes plataformas (iOS, Android).</p>
                        </li>
                    </ul>
                <h3>b.	 Conocimiento en desarrollo de aplicaciones móviles: </h3>
                    <ul>
                        <li>
                            <p>Competencia técnica en el desarrollo de aplicaciones móviles utilizando lenguajes de programación como Java (para 
                            Android) y Swift (para iOS), así como experiencia en el uso de frameworks y herramientas de desarrollo móvil como React Native o Flutter.</p>
                        </li>
                    </ul>
                <h3>c.	Conocimiento en sistemas de geolocalización:</h3>
                    <ul>
                        <li>
                            <p>Habilidad en la implementación de sistemas de geolocalización que permita a los usuarios  enviar alertas a la comunidad dentro de cierto rango, lo suficientemente extenso para alertarlos y  poder rastrear la mascota de manera eficiente y agil.</p>
                        </li>
                    </ul>
                <h3>d.	 Integración de funciones de comunidad: </h3>
                    <ul>
                        <li>
                            <p>Habilidad para integrar funciones de comunidad en la aplicación, como foros de discusión, mensajería 
                            instantánea y sistemas de alerta comunitaria, para facilitar la comunicación entre los usuarios y la colaboración en la búsqueda de mascotas perdidas.</p>
                        </li>
                    </ul>
                <h3>e.	Conexión con refugios y albergues de animales:</h3>
                    <ul>
                        <li>
                            <p>Capacidad para establecer y mantener conexiones con refugios y albergues de animales para facilitar la 
                            adopción de mascotas a través de la aplicación y proporcionar una línea directa de comunicación entre los 
                            usuarios y estas organizaciones.</p>
                        </li>
                    </ul>
                <h3>f.	Integración de funcionalidades de denuncias de emergencia: </h3>
                    <ul>
                        <li>
                            <p>Implementación de funcionalidades que permitan a los usuarios realizar denuncias de maltrato animal a las entidades competentes, mejorando así la seguridad y protección de los animales.</p>
                        </li>
                    </ul>    
                <h3>g.	Diseño de interfaz de usuario intuitiva y atractiva:</h3>
                    <ul>
                        <li>
                            <p>Diseño de una interfaz de usuario fácil de usar y atractiva que permita a los usuarios acceder fácilmente a todas las funcionalidades de la aplicación y brinde una experiencia positiva al usuario.</p>
                        </li>
                    </ul> 
            </div>
        </div>
        <div class="points">
            <img class="points-imageSC" src="../assets/images/points.jpg"points>
        </div>
    </main>
    <div class="corner">
        <img class="corner-image" src="../Assets/images/item.png" alt="corner">
        <div class="botonBack">
            <button class="btn-53" onclick="window.location.href = '../index.html';">
                <div class="original">BACK</div>
                <div class="letters">
                    <span>I</span>
                    <span>N</span>
                    <span>I</span>
                    <span>C</span>
                    <span>I</span>
                    <span>O</span>
                </div>
            </button>
        </div>
    </div>

</body>
</html>
