<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relaciones con el Cliente</title>
    <link rel="stylesheet" href="../style/styles.css" />
</head>
<body>
    <main>
        <div class="container">
            <div class="title">
                <h1>SEGMENTACION<br>DE CLIENTES</h1>
                <div>
                    <img class="imagenSC"  src="..\assets\images/SegmentacionClientes.png" alt="SC" >
                </div>
            </div>
            <div class="contentSC">
                <h3>¿Quién es el cliente ideal y cuáles son sus características demográficas?</h3>
                
                    <p>Toda la comunidad de personas que sean amantes de los animales, que posean o no mascotas, y que quieran aportar al bien común de la sociedad, y que se encuentren a nivel nacional.</p>

                <h3>¿Cuáles son los problemas específicos que enfrenta su cliente y cómo puede resolverlos?</h3>
            <ul>
                <li>
                <strong>Perdida de Mascotas sin poder localizarlas:</strong>
                    <p>Implementar un sistema de Geolocalización a través de un aplicativo móvil que permita enviar alertas a los usuarios circundantes del reporte, dando así un estado de alerta a los demás usuarios y permitan de mejor manera poder encontrar a la mascota perdida. Adicionalmente, se puede implementar un código QR que se le venderá al cliente con un collar para su mascota, permitiendo así que cualquier persona que encuentre el animal pueda realizar un scanner del mismo y esta acción conlleve a una redirección a nuestra página el cual muestre el perfil de la mascota con toda la información necesario para contactar al dueño.</p>
                </li>
                <li>
                <strong>La falta de canales de comunicación con Albergues o Hogares de paso:</strong>
                    <p>Proporcionar el medio necesario a través de nuestro aplicativo móvil, implementando un apartado que de acceso de comunicación y permita a los albergues y hogares de paso realizar publicaciones sobre los animales.</p>
                </li>
                <li>
                    <strong>No tener un medio portable donde puedan realizar desde cualquier lugar una denuncia de maltrato animal:</strong>
                        <p>Nuestro aplicativo tendrá un apartado donde pueda realizar denuncias y será enviado directamente a entidades competentes para tomar acciones sobre los hechos.</p>
                </li>
                <li>
                    <strong>No tener un ambiente seguro donde se puedan publicar mascotas en adopción:</strong>
                        <p>Adicionalmente, la aplicación tendrá un medio para aquellos usuarios que ya no puedan albergar sus mascotas o animalitos por distintas situaciones, y dar aviso a aquellas personas que estén interesadas y así encontrarles un buen hogar.</p>
                </li>
            </ul>

                    <h3>¿Qué necesidades únicas tienen sus clientes que su producto o servicio puede satisfacer?</h3>
                        <p>Más que tener una necesidad, nosotros les estamos creando una, con la finalidad de tener un apartado que pueda cubrir todos esos puntos que otros aplicativos no pudieron y juntar las comunidades amantes de los animales en un mismo lugar.</p>

                    <h3>¿Existen diferentes segmentos de clientes que requieren enfoques de marketing diferentes?</h3>
                        <p>No, el aplicativo será accesible para todos nuestros usuarios.</p>
            </div>
        </div>
        <div class="points">
            <img class="points-image" src="../assets/images/points.jpg"points>
        </div>
    </main>
    <div class="corner">
        <img class="corner-image" src="../Assets/images/item.png" alt="corner">
        <div class="botonBack">
            <button class="btn-53" onclick="window.location.href = '../index.html';">
                <div class="original">BACK</div>
                <div class="letters">
                    <span>I</span>
                    <span>N</span>
                    <span>I</span>
                    <span>C</span>
                    <span>I</span>
                    <span>O</span>
                </div>
            </button>
        </div>
    </div>

</body>
</html>
